.home-container {
    min-height: 100%;
    background: linear-gradient(180deg, #1f1f1f 0%, #121212 100%);
    padding: 20px;

}

.movie-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.loader {
    background: linear-gradient(180deg, #1f1f1f 0%, #121212 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}