.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(3, 3, 3, 1) 0%, rgba(56, 55, 55, 1) 100%);
    padding: 15px;
    border: 1px solid var(--border-black);
    color: white;
}

.search-bar {
    flex-basis: 800px;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 12px 20px;

    border: none;
    background: linear-gradient(90deg, rgba(50, 50, 50, 1) 0%, rgba(30, 30, 30, 1) 100%);
    color: white;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search-bar input:focus {
    background: linear-gradient(90deg, rgba(60, 60, 60, 1) 0%, rgba(40, 40, 40, 1) 100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-logo {
    letter-spacing: 5px;
    font-size: xx-large;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#results-list {
    position: absolute;
    z-index: 111;
    display: none;
    width: 100%;
    background: linear-gradient(180deg, rgba(30, 30, 30, 1) 0%, #121212 100%);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    margin-top: 5px;
}

.autocomplete-result {
    font-size: medium !important;
    padding: 10px 20px;
    letter-spacing: 0;
    cursor: pointer;
    transition: background 0.2s;
    color: rgba(255, 255, 255, 0.8);

}

.autocomplete-result:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.results-header {
    padding: 10px 20px;
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
}